# Configurações do GitHub para deploy automático
# IMPORTANTE: Não cometa este arquivo no GitHub! Adicione ao .gitignore

GITHUB_TOKEN=seu_token_aqui
GITHUB_REPO=marcostheangels/imoveis-html
GITHUB_BRANCH=master
